{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="main-text">Your order</h2>
        </div>
        <hr>
    </div>

    <div class="row">
        <div class="col">
            {% if cart_items %}
                <div class="table-responsive rounded sub-text"></div>
            {% else %}
                <p class="lead mb-5">You cart is empty.</p>
                <a href="{% url 'all_menus' %}" class="btn-link">
                    <span>
                        <i class="fa-solid fa-angles-left"></i>
                    </span>
                    <span>See Menu 🍕</span>
                </a>
            {% endif %}
        </div>
    </div>
    
</div>

{% endblock %}