{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div>
                <img class="banner" src="{% static 'images/banner.png' %}" alt="banner">
            </div>
            <div class="description text-center my-4">
                <h2 class="main-text mb-3">Experience A Taste of The Nordic Sea <br><span class=" des-new-menu">Smokey Salmon Pizza</span>🍕</h2>
                <p class="sub-text mb-4">Smoked salmon, fresh dill, tangy cream cheese, and a crisp crust. A mouthwatering blend perfect for seafood lovers.  
                </p>
                <a href="" class="btn-order submit-btn my-4">ORDER NOW!</a>
            </div>
        </div> <hr>


        </div>
    </div>
{% endblock %}