{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block content %}

<!-- Learned from Boutique Ado project - CI Learning Platform and modified as the project needed -->

<div class="container my-4">
    <div class="row">
        <div class="col">
            <h2 class="main-text my-4">Your order</h2>
        </div>
        <hr>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6 order-lg-last mb-5 sub-text">
            <div class="row">
                <div class="col-6 offset-3">
                    <p class="mb-1 mt-0"><strong>Menu</strong></p>
                </div>
                <div class="col-2 text-right">
                    <p class="mb-1 mt-0"><strong>Subtotal</strong></p>
                </div>
            </div>
            <hr>
            <!-- Loop through each menu item creating a row with image -->
             {% for item in cart_items %}
             <div class="row">
                <div class="col-3 mb-1">
                    <a href="{% url 'all_menus' %}">
                        {% if item.menu.image %}
                            <img class="img-cart rounded" src="{{ item.menu.image.url }}" alt="{{ menu.name }}">
                        {% endif %}
                    </a>
                </div>
                <div class="col-6">
                    <p class="my-0"><strong>{{ item.menu.name }}</strong></p>
                    <p class="my-0 small">Qty: {{ item.quantity }}</p>
                </div>
                <div class="col-2 text-right">
                    <p class="my-0 small text-muted">{{ item.menu.price | calc_subtotal:item.quantity }}</p>
                </div>
             </div>
             {% endfor %}
             <p class="text-center mt-2 text-muted">Order Summary ({{ item_count }})</p>
             <hr>
             <div class="row text-right">
                <div class="col-7 offset-2">
                    <p class="my-0 fs-5"><strong>Total:</strong></p>
                    <p class="my-0 fs-5"><strong>Delivery:</strong></p>
                    <p class="my-0 fs-5"><strong>Grand Total:</strong></p>
                </div>
                <div class="col-3">
                    <p id="total" class="my-0 fs-5"><strong>{{ total | floatformat:2 }}</strong></p>
                    
                    <p id="delivery-cost" class="my-0 fs-5"><strong>{{ delivery_cost | floatformat:2 }}</strong></p>
                    <p id="grand-total" class="my-0 fs-5 text-decoration-underline"><strong>{{ grand_total | floatformat:2 }}</strong></p>
                </div>
             </div>
        </div>

        <div class="col-12 col-lg-6 sub-text">
           <p>Please fill out your information</p>
           <form action="{% url 'checkout' %}" method="POST" id="payment-form">
            {% csrf_token %}
            <fieldset class="rounded px-3 mb-5">
                <legend class="fieldset-label w-auto">Details</legend>
                {{ order_form.full_name | as_crispy_field }}
                {{ order_form.email | as_crispy_field }}
                {{ order_form.phone_number | as_crispy_field }}
                {{ order_form.delivery_method | as_crispy_field }}
                <p class="text-muted">**Delivery available only in <span class="fw-bold">Gothenburg</span> City.</p>
            </fieldset>

            <fieldset class="rounded px-3 mb-5">
                <legend class="fieldset-label w-auto">Delivery</legend>
                {{ order_form.street_address | as_crispy_field }}
                {{ order_form.town_or_city | as_crispy_field }}
                {{ order_form.postcode | as_crispy_field }}
                {{ order_form.country | as_crispy_field }}
                <div class="form-check form-check-inline">
                    {% if user.is_authenticated %}
                        <label for="id-save-info" class="form-check-label">Save this delivery information to my profile.</label>
                        <input type="checkbox" id="id-save-info" name="save-info" class="form-check-inout ml-2 mr-0" checked>
                    {% else %}
                        <label class="form-check-label">
                            <a href="{% url 'account_signup' %}" class="text-danger">Create an account</a> or 
                            <a href="{% url 'account_login' %}" class="text-primary">login</a> to save this information.
                        </label>
                    {% endif %}
                </div>
            </fieldset>

            <fieldset class="rounded px-3">
                <legend class="fieldset-label w-auto">Payment</legend>
                <!-- A Stripe card element will go here -->
                 <div class="mb-3 card-field p-2 rounded" id="card-element"></div>
                 <!-- To display form errors -->
                 <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                  <!-- To pass the client secret to the view so we can get the payment intent id -->
                   <input type="hidden" value="{{ client_secret }}" name="client_secret">
            </fieldset>

            <div class="submit-button mt-2 mb-2 d-grid gap-2 justify-content-end">
                <a href="{% url 'view_cart' %}" class="btn btn-link">
                    <span><i class="fa-solid fa-angles-left"></i></span>
                    <span>Adjust Cart</span>
                </a>
                <button id="submit-button" class="btn btn-sm btn-order">
                    <span class="">Complete Order</span>
                    <span><i class="fa-solid fa-lock"></i></span>
                </button>
                <p class="small text-danger my-0">
                    <span><i class="fa-solid fa-circle-exclamation"></i></span>
                    <span>Your card will be charged <strong id="charged-amount">{{ grand_total|floatformat:2 }}sek</strong></span>
                </p>
            </div>
           </form>
        </div>
    </div>
    
</div>

<!-- Overlay loading to indicate that the payment is being processed -->
<div id="loading-overlay">
    <h1 class="text-light logo-font loading-spinner">
        <span>
            <i class="fas fa-3x fa-sync-alt fa-spin"></i>
        </span>
        <span class="sr-only">Loading...</span>
    </h1>
</div>

{% endblock content %}

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'js/stripe_elements.js' %}"></script>

<!-- Include variables as JSON data and ensure they are correctly parsed in JavaScript -->
<script type="application/json" id="free_delivery_threshold">{{ free_delivery_threshold }}</script>
<script type="application/json" id="standard_delivery_percentage">{{ standard_delivery_percentage }}</script>
<script>
    window.deliveryData = {
        freeDeliveryThreshold: JSON.parse(document.getElementById('free_delivery_threshold').textContent),
        standardDeliveryPercentage: JSON.parse(document.getElementById('standard_delivery_percentage').textContent)
    };
</script>
{% endblock %}