/* CSS varieables */
:root {
    --primary-font: 'Alfa Slab One', serif;
    --secondary-font: 'Chivo', serif;
    --nav-color: #ffffff;
    --background-color: #c5c3c363;
    --text-color: #35724c;
    --text-hover-color: #0e4b20;
    --button-bg-color: rgba(244, 73, 73, 0.153);
    --button-text-color:#d52b0c;
    --button-hover-color: #d52b0c;
    --button-text-hover-color:#fff;
}


/* Global styles */
body {
    background-color: var(--background-color);
    color: var(--text-color); 
}


/* Nevigation bar */
.logo {
    padding-left: 20px;
    max-width: 180px;
}

.navbar {
    background-color: var(--nav-color);
    color: var(--text-color);
    font-family: var(--primary-font);
}

.nav-item {
    padding: 0 15px 0 15px;
}

.nav-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.3rem;
    transition: 0.3s ease-in-out;
}

.nav-link:hover {
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: underline;
}  

.navbar-toggler-icon {
    color: var(--text-color);
    font-size: 1.5rem;
}

.btn-order {
    border: 1px solid var(--button-bg-color);
    padding: 10px 20px 10px 20px;
    font-size: 1.2rem;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
.btn-order:hover {
    background-color: var(--button-hover-color);
    color: var(--button-text-hover-color);
}



/* Block Content */
.main-text {
    font-family: var(--primary-font);
}

.sub-text {
    font-family: var(--secondary-font);
}

.main-text, .sub-text {
    color: var(--text-color);
}

.all-content {
    margin-top: 180px;
    margin-bottom: 50px;
}

.btn-link {
    color: var(--text-color);
}

.btn-link:hover {
    color: var(--text-hover-color);
}

.btn-account {
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid var(--button-bg-color);
    background: var(--button-bg-color);
    padding: 5px 10px;
    color: var(--button-text-color);
    transition: 0.3s ease-in-out;
}

.btn-account:hover {
    background-color: var(--button-hover-color);
    color: var(--button-text-hover-color);
}

#id_login, #id_password {
    border: 1px solid var(--text-color);
    color: var(--text-color);
    background: none;
    width: 100%;
}

::placeholder {
    color: var(--text-color);
    opacity: 0.5;
}



/* Footer */

#footer {
    background-color: var(--nav-color);
}

.footer-title {
    font-size: 0.9rem;
}

.footer-body {
    font-size: 1rem;
}

.social-links a {
    color: var(--text-color);
    font-size: 1.8rem;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

.social-links a:hover {
    color: var(--text-hover-color);
}


/* Media Queries */


/* For screen size (>768px) */
@media screen and (min-width: 769px) {
    .social {
       text-align: center;
    }
}

/* For screen size (<=768px) */
@media screen and (max-width: 768px) {
    .contact-info, .social {
        text-align: center;
    }
}


@media screen and (max-width: 1318px) {
    .nav-link {
        font-size: 0.9rem;
    }
    .nav-item {
        padding: 0px 5px;
    }

    .btn-order {
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 1319px) {
    .footer-title {
        font-size: 1.3rem;
    }
    
    .footer-body {
        font-size: 1.2rem;
    }

    .social-links a {
        font-size: 2rem;
    }

    .all-content {
        margin-top: 200px;
    }
}