{% extends "account/base.html" %}
{% block title %}Pizza Hemma | Password Change{% endblock title %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block content %}
<div class="container col-12 col-md-10 g-4 my-4">
    <div class="row justify-content-center">
        <div class="col-12">
            <h1 class="main-text text-center my-3">{% trans "Change Password" %}</h1>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 sub-text justify-content-center">
            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-account" name="action">{% trans "Change Password" %}</button>
            <a class="button btn-link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
