{% load static %}
{% url "homepage" as home_url %}
{% url "about" as about_url %}
{% url "all_menus" as menu_url %}
{% url "view_cart" as cart_url %}
{% url "reviews" as reviews_url %}
{% url "contact" as contact_url %}
{% url "profile" as profile_url %}
{% url "account_login" as login_url %} 
{% url "account_logout" as logout_url %}
{% url "account_signup" as signup_url %}


<!DOCTYPE html>
<html class="h-100" lang="en">
  <head>
    <title>Pizza | Hemma</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Meta tags for search engines -->
    <meta
      name="description"
      content="Pizza Hemma Restaurant: Our homemade pizzas are crafted with loves, inspired by our cherished grannie recipes.Each slice brings you that cozy, homey vibe with every bite. Come join us where pizza is baked with love and passion. Buon Appetito!">
    <meta
      name="keywords"
      content="pizza, pizza hemma, homemade pizza, pizzas, baked pizza with love, grannie recipes, pizzaria, pizza delivery">

    <!-- Favicon -->
    <link
      rel="icon"
      href="{% static 'favicon/favicon.ico' %}"
      type="image/x-icon">


    <!-- Google Fonts CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Bootstrap CSS -->
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
    crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  
  <body class="d-flex flex-column h-100 main-bg">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ home_url }}"
          ><img
            class="logo"
            src="{% static 'images/logo.png' %}"
            alt="pizz-hemma-logo"></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"
            ><i class="fa-solid fa-bars"></i
          ></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link {% if request.path == about_url %}active{% endif %}" aria-current="page" href="{{ about_url }}">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == menu_url %}active{% endif %}" aria-current="page" href="{{ menu_url }}">Menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == reviews_url %}active{% endif %}" aria-current="page" href="{{ reviews_url }}">Reviews</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == contact_url %}active" aria-current="page{% endif %}" href="{{ contact_url }}">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == cart_url %}active" aria-current="page{% endif %}" href="{{ cart_url }}" title="cart"><i class="fa-solid fa-cart-shopping"></i>
                <span class="quantity">
                {% if item_count %}
                  {{ item_count }}
                {% else %}
                  0
                {% endif %}
                </span>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="account"><i class="fa-solid fa-circle-user"></i></a>
              <ul class="dropdown-menu">
                {% if user.is_authenticated %}
                {% if request.user.is_superuser %}
                <li>
                <a href="" class="nav-link dropdown-item">My Management</a>
                </li>
                {% endif %}
                <li>
                  <a class="nav-link dropdown-item {% if request.path == profile_url %}active" aria-current="page{% endif %}" href="{{ profile_url }}">My profile</a>
                </li>
                <li>
                  <a class="nav-link dropdown-item {% if request.path == logout_url %}active" aria-current="page{% endif %}" href="{{ logout_url }}">Logout</a>
                </li>
                {% else %}
                <li>
                  <a class="nav-link dropdown-item {% if request.path == login_url %}active" aria-current="page{% endif %}" href="{{ login_url }}">Login</a>
                </li>
                <li>
                  <a class="nav-link dropdown-item {% if request.path == signup_url %}active" aria-current="page{% endif %}" href="{{ signup_url }}">Register</a>
                </li>
                {% endif %}
              </ul>
            </li>
            <li class="nav-item my-2">
              <a class="btn-order" aria-current="" href="{{ menu_url }}">ORDER HERE</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- displaying Django messages -->
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        {% for message in messages %}
        <div class="alert alert-success mt-4 {{ message.tags }} alert-dismissible
          fade show" id="msg" role="alert">
          {{ message | safe }}
          <button type="button" class="btn-close"
            data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  
  <main class="flex-shrink-0 main-bg sub-text">
    {% if user.is_authenticated %}
      <p class="text-end px-3 m-3">Welcome! <strong>{{ user.username }}</strong></p>
    {% endif %}


    {% block content %}
    <!-- Content Goes here -->
    {% endblock %}
  </main>


    <!-- Footer -->
    <footer id="footer" class="mt-auto">
      <div class="container">
        <div class="row justify-content-center mt-2 mb-0">

          <!-- Contact info -->
          <div class="col-12 col-md-6 mt-4 contact-info">
            <h3 class="mb-4 main-text footer-title">CONTACT INFO</h3>
            <address class="sub-text footer-body">
              <strong
                ><i class="fa-solid fa-map-pin"></i> Pizza Hemma</strong
              ><br>
              555 Baked Street <br>
              Crispy Bread City, Gothenburg 59871
            </address>
            <p class="sub-text footer-body">
              <i class="fa-solid fa-mobile-screen-button"></i>
              +01(999)165-7680<br>
              <i class="fa-regular fa-envelope"></i>
              pizzahemma@mail.com
            </p>
            <p class="sub-text footer-body">
              <strong>Open Hours:</strong> Everyday : 11:00AM - 20:00PM
            </p>
          </div>

          <!-- Social media -->
          <div class="col-12 col-md-6 mt-4 social">
            <h3 class="main-text footer-title">FOLLOW US</h3>
            <div class="social-links my-4">
              <a
                href="https://www.facebook.com"
                target="_blank"
                aria-label="Visit our Facebook page (open in a new tab)"
                rel="noopener"
                ><i class="fa-brands fa-square-facebook"></i>
              </a>
              <a
                href="https://www.instagram.com"
                target="_blank"
                aria-label="Visit our Instagram page (open in a new tab)"
                rel="noopener"
                ><i class="fa-brands fa-instagram"></i>
              </a>
              <a
                href="https://www.tiktok.com"
                target="_blank"
                aria-label="Visit our Tiktok page (open in a new tab)"
                rel="noopener"
                ><i class="fa-brands fa-tiktok"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <hr>
        <p>© 2025 Pizza Hemma Restaurant, All right reserved.</p>
      </div>
    </footer>

    <!-- Core JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>

    <!-- Font Awesome -->
    <script
      src="https://kit.fontawesome.com/32f8251277.js"
      crossorigin="anonymous"
    ></script>

    {% block postloadjs %}
    {% endblock %}
    {% block extras %}
    {% endblock %}

  </body>

</html>