<!--This code was learned and taken from Boutique Ado project on Code Institute leaning plateform -->

<script type="text/javascript">

    // Disable plus and minus button outside 1-99 range.
    function handleEnableDisable(menuId) {
        var currentValue = parseInt($(`#id_qty_${menuId}`).val());
        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue > 98;
        $(`#decrement-qty_${menuId}`).prop('disabled', minusDisabled);
        $(`#increment-qty_${menuId}`).prop('disabled', plusDisabled);
    }

    // Ensure proper enabling/disabling of all inputs on the page load.
    var allQtyInputs = $('.qty_input');
    for(var i = 0; i < allQtyInputs.length; i++){
        var menuId = $(allQtyInputs[i]).data('menu_id');
        handleEnableDisable(menuId);
    }

    // Check enable/disable everytime the input is changed.
    $('.qty_input').change(function() {
        var menuId = $(this).data('menu_id');
        handleEnableDisable(menuId);
    })

    // Create click event for the increment quantity button on the menu page.
    $('.increment-qty').click(function(e) {
        e.preventDefault();
        var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        var currentValue = parseInt($(closestInput).val());
        $(closestInput).val(currentValue + 1);
        var menuId = $(this).data('menu_id');
        handleEnableDisable(menuId);
    })

    // Create click event for the decrement quantity button on the menu page.
    $('.decrement-qty').click(function(e) {
        e.preventDefault();
        var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        var currentValue = parseInt($(closestInput).val());
        $(closestInput).val(currentValue - 1);
        var menuId = $(this).data('menu_id');
        handleEnableDisable(menuId);
    })

    // Save scroll position before form submission
    $('.add-to-cart-form').submit(function() {
            localStorage.setItem('scrollPosition', $(window).scrollTop());
        });

    // Restore scroll position after page reload
    $(document).ready(function() {
        if (localStorage.getItem('scrollPosition') !== null) {
            $(window).scrollTop(localStorage.getItem('scrollPosition'));
            localStorage.removeItem('scrollPosition');
        }
    });

</script>